services:
  web:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html

  php-fpm:
    build: ./docker
    volumes:
      - .:/var/www/html
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-xdebug.ini
    depends_on:
        - redis

  postgres:
    image: postgres:13
    restart: always
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
    - 54325:5432

  rabbitmq:
     image: rabbitmq:3.12-management
     container_name: rabbitmq
     restart: unless-stopped
     ports:
              - "5672:5672"
              - "15672:15672"
     environment:
              RABBITMQ_DEFAULT_USER: user
              RABBITMQ_DEFAULT_PASS: password

  redis:
      image: redis:alpine
      container_name: redis
      ports:
          - "6379:6379"

  elasticsearch:
      image: elasticsearch:8.15.2
      container_name: elasticsearch
      environment:
          - discovery.type=single-node
          - xpack.security.enabled=false
          - ES_JAVA_OPTS=-Xms1g -Xmx1g
          - cluster.routing.allocation.disk.threshold_enabled=false
      ports:
          - "9200:9200"
          - "9300:9300"
      volumes:
          - es_data:/usr/share/elasticsearch/data
      ulimits:
          memlock:
              soft: -1
              hard: -1

  kibana:
      image: kibana:8.15.2
      container_name: kibana
      environment:
          - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      ports:
          - "5601:5601"
      depends_on:
          - elasticsearch

volumes:
      es_data:



